img{ /* to style imgs */
    
  display: block;
  margin-left: auto;
  margin-right: auto;  
  padding-top: 1cm;
  padding-bottom: 1cm;

}
p{ /* to style paragraphs */
    font-size: 22px;
    padding-top:cm;
}
article{
  margin: 2cm;
}
h1{ /* to style h1 heading */
    text-align: center;
    font-size: 85px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3{ /* to style h3 heading */
  padding-left: 1cm;
  padding-top: 0.5cm; 
}

#topFav{
    position: relative; 
 bottom: 6cm; 
}
#thankyou{
  background-color:#B97A95;
  color:#8E2657;
  width: 15cm;
  height: 4cm;
  border-style:dashed;
  border-color:antiquewhite;
  font-size: 50px;
  text-align: center;
  padding-top: 2.5cm;
  position: relative;
  left: 14cm;
  top: 11cm;
  opacity:0.9;
}
ul{ /* to style ul */
  padding-left: 3cm;
}
nav a{ /* to style each a in nav */
    color:#8E2657;
    text-decoration: none;
    display: inline-block;
  font-size: 20px;
  padding: 10px;
  margin:20px;
  background:#F5FDB0;
}

header{  /* to style header */
    background-color: #B97A95;
    border:dashed;
    border-color: #F5FDB0;
    position: -webkit-sticky;
  position: sticky;
  top: 0;
  opacity: 0.8;
  
}
body{  /* to style body */
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v546batch3-mynt-34-badgewatercolor_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=89288ef4b47127f7f34a5998b50e4470");
    margin-left: 4cm;
    margin-right: 4cm;
    margin-top: 2cm;
    margin-bottom: 2cm;

}
  


div{ /* for my fav */
    color:#8E2657;
    background-color: #FCD8D4;
    font-size: 25px;
    border-style: dashed;
    border-radius: 50px 20px;
  margin-bottom: 1cm;
  
}
footer{  /* to style footer */
    background-color: #973f65;
    color:#FCD8D4;
    border-color: antiquewhite;
    border-style: dashed;
    border-radius: 50px 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 20cm;
    
       
}
ol{
  padding-left: 2cm;
  list-style:decimal;
  position: relative;
  bottom: 6cm;
}

footer p{
  text-align: center;
  
}

#turnRight{  /* for education and experience*/
  float:right;
  width: 9cm;
  height: 16cm;
  padding-right: 1cm;

}

#turnLeft{   /* for my favorites*/
  float: left;
  width: 9cm;
  height: 10cm;
}

 #lorem{
  background-color:#FCD8D4;
  color:#8E2657;
  width: 18cm;
  height: 5cm;
  border-style:dashed;
  border-color:hotpink;
   float: left; 
  position: relative;
  bottom: 8cm;
  right:2cm;
  padding-top: 1cm;
  padding-right: 1cm;
  padding-left: 1cm;
  border-radius: 10cm 50cm;
  opacity: 0.8;
}  
main{
  margin-top: 2cm;
  margin-bottom: 1cm;
}